* { margin: 0; box-sizing: border-box; font-size: 25px;}

nav { height: 150px;
        background-color: rgba(0, 153, 255, 0.925);
        background-image: url("../img/pattern.png");
        background-size: 600px 300px;}

#Logo, header, main, footer {
        width: 75%;
        margin: 0 auto;
}

#img-Logo {width: 250px; height: 200px; padding-left: 5px;}

h1 {font-size: 60px; width: 1600px;}

section {padding: 15px;}

.container {
        width: 100%;
}

.img-1 {
        height: 100%;  
        width: 52%; 
}

.img-2 {
        height: 100%;
        width: 44%;
}

.gray-text {color: gray;}

#blue {color: rgba(0, 153, 255, 0.925); background: none;}

.small-text {font-size: 15px;}

p, ul, table {margin-top: 20px;}

table {width: 100%; border-collapse: collapse;}

thead {text-align: left; 
        background-color:rgba(0, 153, 255, 0.925);
        color: white;}
  
#smaller-column {width: 900px}

.tr-colorato {background-color:rgba(0, 153, 255, 0.411);}

footer {margin-top: 30px;}

.white-text {color: white;}

#img-monitor {width: auto; height: 200px; margin: 10px;
              background-image: url('../img/monitor.jpg');
              background-repeat: no-repeat;}

#img-graph {width: auto; height: 200px; margin: 10px;
            background-image: url('../img/graph.jpg');
            background-repeat: no-repeat;}